<p>template-form works!</p>


<!--
<div>
    <form (ngSubmit)="submitForm(userForm)" #userForm="ngForm">
        <div class="row">
            <label for="username" class="col-md-3">User Name</label>
            <input type="text" class="col-md-3" ngModel required minlength="8" ngModel
            #name="ngModel" id="username" name="username" />
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <div *ngIf="name.errors?.['required']">
                Name is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
                Name must be at least 8 characters long.
            </div>
            <div *ngIf="name.errors?.['forbiddenName']">
                Name cannot be Bob.
            </div>

        </div>
        <div class="row">
            <label for="password" class="col-md-3">Password</label>
            <input type="password" class="col-md-3" ngModel id="password" name="password" />
        </div>
        <div class="row">
            <label for="phonenumber" class="col-md-3">Phone Number</label>
            <input type="number" class="col-md-3" ngModel id="phonenumber" name="phonenumber" />
        </div>
        <div class="row">
            <button type="button" class="btn btn-danger col-md-3">Cancel</button>
            <button type="submit" class="btn btn-primary col-md-3">Submit</button>
        </div>
    </form>
</div> -->
