
<!-- <h1>App Component</h1> -->
<!--
<app-notification-list></app-notification-list> -->

<!-- <app-template-form-example></app-template-form-example> -->

<!-- <app-parent></app-parent> -->
<!-- <app-ngoninit-parent></app-ngoninit-parent> -->

<!-- <app-template-form></app-template-form> -->

<!-- <app-product-list></app-product-list> -->

<!-- <app-product-ng-class></app-product-ng-class> -->

<!-- <app-product-ng-style></app-product-ng-style> -->

<!-- <app-product-ng-switch></app-product-ng-switch> -->
<!-- <app-product-pipes></app-product-pipes> -->


<!-- <app-reactive-form-example></app-reactive-form-example> -->

 <!-- <app-reactive-form-with-form0buikder-example></app-reactive-form-with-form0buikder-example> -->

<h1 class="text-center">Angular Student Example</h1>
<!-- <ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact">Contact Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products">Product List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/logout">Logout</a>
  </li>
</ul> -->


<ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link active" routerLink="/view-students" >View Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/add-students" >Add Student</a>
  </li>
</ul>

<br>
<br>

<div class="container">
  <div class="row justify-content-center">
    <router-outlet>


    </router-outlet>
  </div>
</div>
