
<h1>App Component</h1>

<app-notification-list></app-notification-list>

<!-- <app-template-form-example></app-template-form-example> -->

<!-- <app-parent></app-parent> -->
<!-- <app-ngoninit-parent></app-ngoninit-parent> -->

<!-- <app-template-form></app-template-form> -->

<!-- <app-product-list></app-product-list> -->

<!-- <app-product-ng-class></app-product-ng-class> -->

<!-- <app-product-ng-style></app-product-ng-style> -->

<!-- <app-product-ng-switch></app-product-ng-switch> -->
<!-- <app-product-pipes></app-product-pipes> -->
